# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.db
*.log
instance/

# Node
node_modules/
npm-debug.log*
package-lock.json

# Docker
*.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
